In [17]:
import csv
import sqlite3
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
sqladb = pd.read_csv(url)
sqladb.head(10)
# saving the dataframe 
sqladb.to_csv(r'C:\Users\Administrator\DGildClassworks\7_Acadgild 01-12-2018\sample.csv', index=False)


#Load data from sample.csv to table
table_data = csv.reader('sample.csv')
#for row in table_data:
    #cursor.execute('INSERT INTO adult VALUES("%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s")',row)

# Establishing a conenction
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

# check if the DB name exists
with connection:
    cursor.execute('''CREATE TABLE IF NOT EXISTS adult (
            age int,
            workclass varchar(40),
            fnlwgt int,
            education varchar(40),
            education_num int,
            marital_status varchar(40),
            occupation varchar(20),
            relationship varchar(40),
            race varchar(20),
            sex varchar(10),
            capital_gain int,
            capital_loss int,
            hours_per_week int,
            native_country varchar(50),
            label varchar(10))''')
    
    table_data = csv.reader('sample.csv')

with open('sample.csv','r') as csvfile:
    M1 = list(csv.reader(csvfile, delimiter=','))
    M = tuple(M1)
print(tuple(M1[4]))

#td_list = list(table_data)
#print(td_list)
#sql = "insert into adult(age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, label) values (%d, '%s', %d, '%s', %d, '%s', '%s', '%s', '%s', '%s', %d, %d, %d, '%s', '%s');"
sql = "insert into adult(age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, label) values ('%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s');"

for (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, label) in M:
    cursor.execute(sql % (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, label))

('28', ' Private', '338409', ' Bachelors', '13', ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', '0', '0', '40', ' Cuba', ' <=50K')

In [23]:
# 1) Select 10 rows from table
import numpy as np
cursor.execute("SELECT * FROM adult LIMIT 10")
myresult1 = cursor.fetchall()
for x in myresult1:
    print(x)

(39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K')
(50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K')
(38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K')
(28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')
(37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')
(49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K')
(52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')
(31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')
(42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' United-States', ' >50K')

In [43]:
# 2) Average hours per week for all man who are working in private sector

#cursor.execute("SELECT avg(hours_per_week) average_hours_per_week FROM adult WHERE workclass = 'Private'")
#myresult2 = cursor.fetchall()
#for x in myresult2:
    #print(x)

import numpy as np
cursor.execute("SELECT hours_per_week FROM adult WHERE workclass=='Private'")
myresult2 = cursor.fetchall()
[list(y) for y in myresult2]
#print(cursor.execute((list(y))))
    #return y

[]

In [ ]:
# 3) Show me the frequency table for education, occupation and relationship, separately
#    a) education

cursor.execute("SELECT education, COUNT(education) frequency FROM adult GROUP BY education")
myresult3 = cursor.fetchall()
for p in myresult3:
print(p)

In [ ]:
#    b) occupation
cursor.execute("SELECT occupation, COUNT(occupation) frequency FROM adult GROUP BY occupation")
myresult4 = cursor.fetchall()
for q in myresult4:
print(q)

In [ ]:
#    c) relationship
cursor.execute("SELECT relationship, COUNT(relationship) frequency FROM adult GROUP BY relationship")
myresult5 = cursor.fetchall()
for r in myresult5:
print(r)

In [ ]:
# 4) Are there any people who are married, working in private sector and having a masters degree 

cursor.execute("SELECT IF(count > 0, 'Yes', 'No') _exist FROM (SELECT COUNT(marital_status) count FROM adult WHERE marital-status IN ('Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse')) alias ")
myresult6 = cursor.fetchall()
for b in myresult6:
print(b)

In [ ]:
# 5) What is the average, minimum and maximum age group for people working in different sectors

cursor.execute("SELECT workclass as sector, AVG(age) averageAge, MIN(age) minAge, MAX(age) maxAge  FROM adult GROUP BY workclass")
myresult7 = cursor.fetchall()
for c in myresult7:
print(c)

In [ ]:
# 6) Calculate age distribution by country

cursor.execute("SELECT age, COUNT(age) frequency FROM adult GROUP BY native_country")
myresult8 = cursor.fetchall()
for d in myresult8:
print(d)

In [ ]:
# 7) Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

q = """SELECT
            SUB(capital_gain, capital_loss) as Net_Capital_Gain
           FROM
              adult
           GROUP BY
              occupation
              LIMIT 5;"""
cursor.execute(q)
myresult9 = cursor.fetchall()
for e in myresult9:
print(e)

In [ ]:
# Task 2:

# Read the following data set:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

# 1. Create an sqlalchemy engine using a sample from the data set
import sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
Base = declarative_base()
Base

# Ref: https://docs.sqlalchemy.org/en/latest/core/dml.html

from sqlalchemy import Column, Integer, String
class User(Base):
...     __tablename__ = 'users'
...     age = Column(Integer, primary_key=True),
        workclass = Column(String),
        fnlwgt = Column(Integer),
        education = Column(String),
        education_num = Column(Integer),
        marital_status = Column(String),
        occupation = Column(String),
        relationship = Column(String),
        race = Column(String),
        sex = Column(String),
        capital_gain = Column(Integer),
        capital_loss = Column(Integer),
        hours_per_week = Column(Integer),
        native_country = Column(String),
        label = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.workclass, self.fnlwgt, self.education, self.education_num, self.marital_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.label)

In [ ]:
User.__table__

In [ ]:
Base.metadata.create_all(engine)

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
Session = sessionmaker()
#when you create your engine with create_engine(), connect it to the Session using configure()
Session.configure(bind=engine)
session = Session()

In [ ]:
# 2. Write two basic update queries
ed_user = User(age=27, workclass='gradeA', fnlwgt=41, education='M.Tech', education_num=4, marital_status='Unmarried', occupation='Sr. AE', relationship='Friend',
              race='Asian', sex='M', capital_gain=1000, capital_loss=56, hours_per_week=40, native_country='India', label='>34')
session.add(ed_user)

ed_user = User(age=30, workclass='gradeA+', fnlwgt=45, education='M.Tech', education_num=4, marital_status='Unmarried', occupation='Sr. AE', relationship='Friend',
              race='Asian', sex='M', capital_gain=5000, capital_loss=56, hours_per_week=46, native_country='India', label='>35')
session.add(ed_user)

# 3. Write two delete queries
User.query.filter(User.age == 30).delete()

User.query.filter(User.education_num == 4).delete()

# 4. Write two filter queries
our_user = session.query(User).filter_by(workclass='gradeA').first()
our_user

our_user = session.query(User).filter_by(race='Asian').first()
our_user

# 5. Write two function queries
from sqlalchemy import func

session.query(func.count(User.education), User.education).group_by(User.education).all()

session.query(func.count('*')).select_from(User).scalar()

session.query(func.count(User.hours_per_week)).scalar()


session.commit()